:root {
  --colorPrincipal: #080f28;
  --colorSecundario: #080f28;
  --colorPrincialLight: #6b8cae;
}

body {
  margin: 0;
  color: #fff;
  background-color: var(--colorPrincipal);
  font-family: "Roboto Slab", serif;
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.container > * {
  padding: 20px;
  /* border: 1px solid; */
  overflow-y: auto;
  background-color: var(--colorPrincipal);
}

.header {
  grid-area: header;
  background-color: #141a32;
}

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
  background-color: #141a32;
}

.footer {
  grid-area: footer;
  padding: 10px !important;
  background-color: #141a32;
}

.container {
  display: grid;
  grid-gap: 1px;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "footer";
  max-height: 100vh;
  min-height: 100vh;
  min-width: min-content;
}

/* CARDS */
.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
  font-family: sans-serif;
}

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border: 2px solid #cccccc;
}

.card__image {
  width: 100%;
  display: block;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: var(--colorPrincipal);
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--colorPrincipal);
  font-size: 0.8em;
  border-top: 2px solid #cccccc;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}

/* FOOTER */

footer .copy {
  display: flex;
  justify-content: center;
}

.redes-sociales {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
  text-size-adjust: auto;
}

.redes-sociales i {
  font-size: 15px;
  padding: 0 20px;
  color: #fff;
}

.redes-sociales i:hover {
  color: var(--colorPrincial);
}

article{
    padding-bottom: 20px;
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "navbar     navbar"
      "content content"
      "footer      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "header header  header"
      "navbar    content content"
      "navbar    content content"
      "footer footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
}
